*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.html text eol=lf
*.toml text eol=lf
*.cmd text eol=crlf
